[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
line-bot-sdk = "*"
honcho = "*"
gunicorn = "*"
psycopg2 = "*"
pandas = "*"
psycopg2-binary = "*"
runpy = "*"

[dev-packages]

[requires]
python_version = "3.7"
