[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
line-bot-sdk = "==1.15.0"
honcho = "*"
gunicorn = "*"
psycopg2 = "*"
pandas = "*"
psycopg2-binary = "*"
imgurpython = "*"
tensorflow = "==1.14.0"
googletrans = "*"

[dev-packages]

[requires]
python_version = "3.7"
